/** Proxima Nova **/

@font-face {
    font-family: 'Proxima Nova';
    src: url('./Proxima Nova Alt Regular-webfont.eot');
    src: url('./Proxima Nova Alt Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('./Proxima Nova Alt Regular-webfont.woff') format('woff'),
         url('./Proxima Nova Alt Regular-webfont.ttf') format('truetype'),
         url('./Proxima Nova Alt Regular-webfont.svg#proxima_nova_altregular') format('svg');
    font-weight: normal;
    font-style: normal;
}